.gamePage {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #0000007b;
  background-image: url('https://deadbydaylight.com/static/f28d1adf92a2ca532e867fbfa2dd48b3/bb1c4/DBD_CH_24_Garden_Of_Joy_House_Truck_1920x1080_afc4470f70.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: color;
  color: white;

  p {
    text-align: center;
    font-size: x-large;
  }

  div {
    width: 80%;
    align-items: center;
  }

  .aboutKillers{
    display: flex;
    gap: 2em;
  }

  .aboutSurvivors {
    display: flex;
    gap: 2em;
  }
}